@{Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";}

@model int?

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("Id", @Model);

    <div class="background-bar">
        <div class="popup-button-bar">
            <button type="submit" class="k-button"> <img src="~/Content/Images/Mains/iSync-icon32.png" alt="" /> Xác nhận xuất hóa đơn điện tử </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Users-Exit-icon.png" alt="" /> Thoát </button>
        </div>
    </div>
}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function cancelButton_Click() {
        window.parent.$("#myWindow").data("kendoWindow").close();
    }
</script>