@{Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";}

@model int?

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("Id", @Model);

    <div style="height: 130px;">

        @Html.Partial("~/Views/Helpers/Commons/_ViewHeader.cshtml")

    </div>



    <div class="background-bar" style="width: 620px;">
        <div class="popup-button-bar" style="margin-right: 6px;">
            <button type="submit" class="k-button"> <img src="~/Content/Images/New/Delete32m.png" alt="" /> Xác nhận xóa HĐ điện tử </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Users-Exit-icon.png" alt="" /> Thoát </button>
        </div>
    </div>


}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function cancelButton_Click() {
        window.parent.$("#myWindow").data("kendoWindow").close();
    }
</script>

<style>
    #div-alert {
        width: 600px;
    }

    .validation-summary-errors {
        width: 600px;
    }
</style>