@using MVCModel.Models
@using MVCClient.Configuration


@(Html.Kendo().Grid<PendingStockTransfer>()
        .Name("gridStockTransfers")
        .Columns(columns =>
        {
            columns.Bound(c => c.SourceWarehouseName).DisplayNameTitle().Width(80);
            columns.Bound(c => c.WarehouseName).DisplayNameTitle().Width(100);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar" style="float: right;">
                    <label>Nhập lệnh điều hàng</label>
                    <input id="stockTransferSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="stockTransferSearchBox_KeyUp()" />
                </div>
            </text>);
        })
            .Scrollable(s => s.Height(SettingsManager.PopupContentHeightSmall))
            .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetPendingStockTransfers", "WarehouseInvoiceApi").Data("onAdditionalGetPendingStockTransfers"))
            .ServerOperation(true))
            .Selectable()
)

<script type="text/javascript">

    function onAdditionalGetPendingStockTransfers(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function stockTransferSearchBox_KeyUp() {
        if ($("#stockTransferSearchBox").val().length === 0 || $("#stockTransferSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#gridStockTransfers").data("kendoGrid").dataSource.read();
        }
    }

    $("#gridStockTransfers").dblclick(function (e) {
        okButton_Click();
    })
</script>